.Titulo{
    font-size: 3em;
    color:lightblue;
}

.Texto{
    font-size: 20px;
}

.textform{
    font-size: 30px;
}

.textform2{
    font-size: 20px;
}

.textpie{
    font-size: 20px;
    color:lightblue;
}